In [1]:
#Is the website redesign any good?
#reworded = Is the website redesign leading to higer sales?
#null = No change in sales
#alternate = Positive change in sales
#Type 1 Error = False outcome showing no change
#Type 2 Error = Negative Change in sales


#Is our television ad driving more sales?
#Null = No change in sales
#alternate = Positive change in sales
#Type 1 Error = False outcome showing no change
#Type 2 Error = Negative Change in sales


#Has the network latency gone up since we switched internet service providers?
#Null = No change in latency
#alternate = increase in latency
#Type 1 Error = False outcome showing no change
#Type 2 Error = Negative change in latency

In [2]:
from math import sqrt
from scipy import stats
from pydataset import data

In [3]:
import pandas as pd

In [4]:
from env import host, user, password
import mysql.connector
df = mysql.connector.connect(host = host, user = user, passwd = password, database = "bayes_813")
pf = df.cursor()

In [5]:
df_3 = pd.read_csv('telco.csv')
x_3 = df_3.monthly_charges
y_3 = df_3.tenure
r,p = stats.pearsonr(x_3, y_3)
print(f"p = {p}")
print(f"r = {r}")
x_4 = df_3.tenure
y_4 = df_3.total_charges
r_1,p_1=stats.pearsonr(x_4, y_4)
print (r_1)
print (p_1)

FileNotFoundError: [Errno 2] File b'telco.csv' does not exist: b'telco.csv'

In [6]:
pf.execute('''create temporary table telco as select c.monthly_charges, c.tenure, c.total_charges, c.phone_service, internet_service_type from telco_churn.customers as c join telco_churn.internet_service_types as inst on c.internet_service_type_id = inst.internet_service_type_id;''')

In [7]:
pf.execute('''delete from telco where (total_charges is null or total_charges = '');''')

In [8]:
df_3 = pd.read_sql('''select monthly_charges, tenure, total_charges, phone_service, if(internet_service_type = "None", False, True) as internet_service from telco;''',df)

In [9]:
df_3

      monthly_charges  tenure total_charges phone_service  internet_service
0               65.60       9         593.3           Yes                 1
1               59.90       9         542.4           Yes                 1
2               69.40       9        571.45           Yes                 1
3               48.20       7        340.35           Yes                 1
4               90.45      65        5957.9           Yes                 1
5               45.20      54       2460.55            No                 1
6               45.05      56        2560.1            No                 1
7               61.25      34        1993.2            No                 1
8               62.70      45        2791.5           Yes                 1
9               25.10       1          25.1            No                 1
10              30.50       1          30.5            No                 1
11              39.40      20         825.4            No                 1
12              49.25       2          91.1           Yes                 1
13              78.20      27       2078.95           Yes                 1
14              61.60      25          1611           Yes                 1
15              45.00      29       1242.45            No                 1
16              85.15      72        6316.2           Yes                 1
17              51.45      14        727.85           Yes                 1
18              44.30       1          44.3           Yes                 1
19              81.25      64       5567.55           Yes                 1
20              50.35       6        314.55           Yes                 1
21              64.50      30       1888.45           Yes                 1
22              50.30      58       2878.55           Yes                 1
23              71.40      16        1212.1           Yes                 1
24              84.35      49       4059.35           Yes                 1
25              58.25      71        4145.9            No                 1
26              40.20      37        1448.8            No                 1
27              35.40      50        1748.9            No                 1
28              88.10      61       5526.75           Yes                 1
29              45.80      26          1147            No                 1
30              74.85      44       3268.05           Yes                 1
31              54.20      22        1152.7           Yes                 1
32              35.05      25        844.45            No                 1
33              74.75      30        2111.3           Yes                 1
34              50.35      22       1098.85            No                 1
35              57.80      70        4039.3            No                 1
36              48.80      52       2555.05            No                 1
37              47.15       5        223.15           Yes                 1
38              44.30       2          89.3           Yes                 1
39              59.55      19        1144.6           Yes                 1
40              69.65      72       4908.25           Yes                 1
41              36.10      63        2298.9            No                 1
42              56.60      66        3789.2            No                 1
43              45.00      48        2196.3            No                 1
44              89.70      72        6339.3           Yes                 1
45              92.65      72          6733           Yes                 1
46              50.10       1          50.1           Yes                 1
47              79.65      48        3870.3           Yes                 1
48              81.40      52       4354.45           Yes                 1
49              50.55      67       3431.75           Yes                 1
50              62.45      32       2045.55           Yes                 1
51              72.90       9         651.4           Yes                 1
52              70.50      50       3486.65           Yes                 1
53              69.85      72       5102.35           Yes                 1
54              58.85       7         465.7            No                 1
55              54.40       8         475.1           Yes                 1
56              50.55      66       3364.55            No                 1
57              29.30      12         355.9            No                 1
58              54.75      27        1510.3           Yes                 1
59              60.55      35        1982.6           Yes                 1
60              86.20      54       4524.05           Yes                 1
61              63.95       5         318.1           Yes                 1
62              65.35      19       1231.85           Yes                 1
63              50.20      52          2554            No                 1
64              63.80      72        4684.3            No                 1
65              65.00      41        2531.8           Yes                 1
66              36.05      11         402.6            No                 1
67              40.40      11         422.6            No                 1
68              84.80      71        6046.1           Yes                 1
69              49.45       6         314.6           Yes                 1
70              55.15       6         322.9           Yes                 1
71              58.70       3         168.6           Yes                 1
72              45.35       2          89.5           Yes                 1
73              48.55       1         48.55           Yes                 1
74              66.05      55        3462.1           Yes                 1
75              61.20      72       4390.25            No                 1
76              74.40      72       5360.75           Yes                 1
77              39.60      60        2424.5            No                 1
78              45.90      11         521.9           Yes                 1
79              64.35      68        4539.6            No                 1
80              86.85      71        6263.8           Yes                 1
81              39.55       9           373            No                 1
82              50.15       1         50.15           Yes                 1
83              44.60       3         122.7           Yes                 1
84              34.70       1          34.7            No                 1
...               ...     ...           ...           ...               ...
6947            18.75       2         53.15           Yes                 0
6948            25.10      72        1790.8           Yes                 0
6949            19.10       1          19.1           Yes                 0
6950            20.05      11         237.7           Yes                 0
6951            19.85      50         943.1           Yes                 0
6952            19.05      53        990.45           Yes                 0
6953            19.05      25         461.3           Yes                 0
6954            20.10       9        190.25           Yes                 0
6955            19.20       8        161.95           Yes                 0
6956            19.10      69       1268.85           Yes                 0
6957            19.65      52         928.4           Yes                 0
6958            20.25      53       1048.45           Yes                 0
6959            20.00      54       1149.65           Yes                 0
6960            20.75      35        700.45           Yes                 0
6961            20.55      10        252.75           Yes                 0
6962            19.95      13         253.8           Yes                 0
6963            19.25      36         679.8           Yes                 0
6964            20.65      26         595.5           Yes                 0
6965            19.90      69        1356.7           Yes                 0
6966            24.70      19        465.85           Yes                 0
6967            19.75      24        483.15           Yes                 0
6968            19.20      52       1054.75           Yes                 0
6969            25.40      68        1620.2           Yes                 0
6970            25.10       6           171           Yes                 0
6971            24.80      15        324.15           Yes                 0
6972            20.00      41         879.8           Yes                 0
6973            19.90      49        1022.6           Yes                 0
6974            24.45      56       1385.85           Yes                 0
6975            20.15      50        989.05           Yes                 0
6976            19.25      22        412.55           Yes                 0
6977            20.45       4         82.85           Yes                 0
6978            20.55      47       1013.05           Yes                 0
6979            20.20      25         507.9           Yes                 0
6980            19.80      37         813.3           Yes                 0
6981            19.70      63       1275.85           Yes                 0
6982            19.40       1          19.4           Yes                 0
6983            19.25      35         677.9           Yes                 0
6984            20.50      63       1328.15           Yes                 0
6985            19.65      47         973.1           Yes                 0
6986            24.65      18        471.35           Yes                 0
6987            25.05      38        963.95           Yes                 0
6988            24.70      58          1519           Yes                 0
6989            24.50      71        1816.2           Yes                 0
6990            20.00       2          32.7           Yes                 0
6991            20.55       1         20.55           Yes                 0
6992            20.15      39           826           Yes                 0
6993            25.85      27        788.55           Yes                 0
6994            19.00      49         918.7           Yes                 0
6995            20.85      22        450.65           Yes                 0
6996            20.50       1          20.5           Yes                 0
6997            18.40      59       1057.85           Yes                 0
6998            19.35      17           307           Yes                 0
6999            20.40       3         63.15           Yes                 0
7000            19.95       7         147.5           Yes                 0
7001            21.10      46         937.1           Yes                 0
7002            20.00      66        1374.2           Yes                 0
7003            19.80      23        465.45           Yes                 0
7004            20.20      46         845.6           Yes                 0
7005            19.50      53        1050.5           Yes                 0
7006            25.00      12         316.2           Yes                 0
7007            20.35       2          45.3           Yes                 0
7008            20.00      36        666.75           Yes                 0
7009            19.20      12           239           Yes                 0
7010            26.10      72       1851.45           Yes                 0
7011            19.75      14        309.35           Yes                 0
7012            19.95      17         310.6           Yes                 0
7013            20.35      34         673.2           Yes                 0
7014            20.75      17        418.25           Yes                 0
7015            20.05      22         470.2           Yes                 0
7016            25.55      28         672.2           Yes                 0
7017            19.85      48           916           Yes                 0
7018            20.40       4          94.5           Yes                 0
7019            20.35      11        215.25           Yes                 0
7020            19.70      41        804.25           Yes                 0
7021            18.70      25        383.65           Yes                 0
7022            20.30      28        487.95           Yes                 0
7023            25.25      63        1559.3           Yes                 0
7024            20.05       1         20.05           Yes                 0
7025            24.40      71        1725.4           Yes                 0
7026            19.90      19        367.55           Yes                 0
7027            19.70       6        129.55           Yes                 0
7028            19.25      67        1372.9           Yes                 0
7029            19.75      46         856.5           Yes                 0
7030            18.90       1          18.9           Yes                 0
7031            20.95       4          85.5           Yes                 0

[7032 rows x 5 columns]

In [10]:
pf.execute('''CREATE TEMPORARY TABLE employee_tenure AS SELECT e.emp_no, dept.from_date, max(salary) as salary,replace(dept.to_date,'9999-01-01',CURDATE()) as to_date from employees.employees as e join employees.salaries as sal on sal.emp_no = e.emp_no join employees.dept_emp_latest_date as dept on dept.emp_no = e.emp_no group by emp_no;''')
df_1 = pd.read_sql('select emp_no, salary, datediff(to_date, from_date) as total_tenure from employee_tenure;', df)
df_1

        emp_no  salary  total_tenure
0        10001   88958         12157
1        10002   72527          8466
2        10003   43699          8710
3        10004   74057         11999
4        10005   94692         10983
5        10006   60098         10656
6        10007   88070         11197
7        10008   52668           873
8        10009   94443         12650
9        10010   80324          7043
10       10011   56753          2483
11       10012   54794          9790
12       10013   68901         12406
13       10014   60598          9414
14       10015   40000           337
15       10016   77935          7909
16       10017   99651          9562
17       10018   84672          9932
18       10019   50032          7466
19       10020   47017          7952
20       10021   84169          5269
21       10022   41348          7340
22       10023   50319          7316
23       10024   96646          7786
24       10025   57585          3712
25       10026   66313          8968
26       10027   46145          8955
27       10028   58502          2358
28       10029   77777          7397
29       10030   88806          9364
30       10031   56689         10264
31       10032   69539         10702
32       10033   60433          2198
33       10034   53164          1663
34       10035   68755         11355
35       10036   63053         10024
36       10037   60992         10534
37       10038   64254         10975
38       10039   63918         11585
39       10040   72668          6468
40       10041   81705         10922
41       10042   95035          2699
42       10043   77659         10580
43       10044   58345          9271
44       10045   47984          8361
45       10046   62218          9971
46       10047   81037         11148
47       10048   40000           702
48       10049   51326         10018
49       10050   97830          9833
50       10051   64905          9854
51       10052   67156          8285
52       10053   78478          9095
53       10054   53906          8837
54       10055   90843          1181
55       10056   74722         10841
56       10057   68061         10128
57       10058   72542         11488
58       10059   94161         10331
59       10060   93188          9827
60       10061   97338         10902
61       10062   68784         10266
62       10063   74841         11140
63       10064   48454          2294
64       10065   47437          7807
65       10066  103672         12277
66       10067   83254         11906
67       10068  113229         11750
68       10069   86641          9977
69       10070   96322          8756
70       10071   53315          8830
71       10072   64726         11097
72       10073   56473            20
73       10074   80820         10648
74       10075   67492          4626
75       10076   62921          8485
76       10077   54699          9055
77       10078   54652          9140
78       10079   67231          8700
79       10080   72729          8126
80       10081   79351         12031
81       10082   48935            12
82       10083   77186         11879
83       10084   93621          8698
84       10085   60910          9313
...        ...     ...           ...
299939  499915   50132          9559
299940  499916   43217          7296
299941  499917   69032          5248
299942  499918   55843          7297
299943  499919  107704         10268
299944  499920  123461         12227
299945  499921   50565          7825
299946  499922   76858         12150
299947  499923   42799           263
299948  499924   47398          7735
299949  499925   45324          7286
299950  499926  109882         12471
299951  499927   83769          8358
299952  499928   74055          8694
299953  499929   51174          2116
299954  499930   74163         11521
299955  499931   64915          9206
299956  499932   82734          2955
299957  499933   47141          9629
299958  499934   76837          9725
299959  499935   77520         10238
299960  499936   54387          9108
299961  499937   74618         11935
299962  499938   47801          7173
299963  499939   62807           434
299964  499940   75992         12219
299965  499941   65095          9377
299966  499942   49735          7864
299967  499943   68398         11144
299968  499944   54456          9889
299969  499945   61760          9939
299970  499946   60960          9433
299971  499947   53325            46
299972  499948   45625          7487
299973  499949   69376         10310
299974  499950   57994           386
299975  499951   46909          7417
299976  499952   70446         10866
299977  499953  114876         12645
299978  499954   64420         10652
299979  499955   72098          8406
299980  499956   59279          9127
299981  499957   50156          2103
299982  499958   52181           705
299983  499959   89837         10196
299984  499960   94157         10979
299985  499961   71073         11418
299986  499962   57667          8876
299987  499963   73855         11019
299988  499964   63117          9144
299989  499965   90570         11690
299990  499966   98388         12535
299991  499967   94208          1657
299992  499968   89119         10227
299993  499969   49116          7743
299994  499970  118576          9038
299995  499971   50936          1389
299996  499972   65746         10911
299997  499973   61400          9380
299998  499974   50961          8336
299999  499975   44408           277
300000  499976  107386         11243
300001  499977   77858          7224
300002  499978   41746           523
300003  499979   54088          8440
300004  499980  108542         10466
300005  499981   63193         10442
300006  499982   40000           404
300007  499983   52429          6512
300008  499984   66202         11027
300009  499985   47543          8274
300010  499986  120013         12476
300011  499987   56336          7231
300012  499988  102085          4824
300013  499989   70425          1590
300014  499990   45512          7285
300015  499991   52867          8274
300016  499992   80389          8896
300017  499993   44305          8219
300018  499994   40000           247
300019  499995   52868          8163
300020  499996   69501          8548
300021  499997   83441         11727
300022  499998   55003          9416
300023  499999   77303          7982

[300024 rows x 3 columns]

In [11]:
x = df_1.salary
y = df_1.total_tenure
r,p = stats.pearsonr(x,y)
print(f"p = {p}")
print(f"r = {r}")

p = 0.0
r = 0.4068913906168146

In [12]:
pf.execute('''CREATE TEMPORARY TABLE employee_tenure_2 AS
SELECT e.emp_no, dept.from_date, count(t.title) as n_titles,replace(dept.to_date,'9999-01-01',CURDATE()) as to_date from employees.employees as e join employees.titles as t on t.emp_no = e.emp_no join employees.dept_emp_latest_date as dept on dept.emp_no = e.emp_no group by emp_no; ''')

In [13]:
df_2 = pd.read_sql('select n_titles, datediff(to_date, from_date) as tenure from employee_tenure_2;',df)
df_2

        n_titles  tenure
0              1   12157
1              1    8466
2              1    8710
3              2   11999
4              2   10983
5              1   10656
6              2   11197
7              1     873
8              3   12650
9              1    7043
10             1    2483
11             2    9790
12             1   12406
13             1    9414
14             1     337
15             1    7909
16             2    9562
17             2    9932
18             1    7466
19             1    7952
20             1    5269
21             1    7340
22             1    7316
23             1    7786
24             1    3712
25             2    8968
26             2    8955
27             1    2358
28             2    7397
29             2    9364
30             2   10264
31             2   10702
32             1    2198
33             1    1663
34             2   11355
35             1   10024
36             2   10534
37             2   10975
38             2   11585
39             2    6468
40             2   10922
41             2    2699
42             2   10580
43             1    9271
44             1    8361
45             2    9971
46             2   11148
47             1     702
48             2   10018
49             2    9833
50             2    9854
51             2    8285
52             1    9095
53             2    8837
54             1    1181
55             2   10841
56             2   10128
57             1   11488
58             1   10331
59             2    9827
60             1   10902
61             2   10266
62             1   11140
63             1    2294
64             1    7807
65             3   12277
66             2   11906
67             2   11750
68             1    9977
69             1    8756
70             1    8830
71             2   11097
72             1      20
73             1   10648
74             1    4626
75             1    8485
76             1    9055
77             1    9140
78             1    8700
79             2    8126
80             2   12031
81             1      12
82             2   11879
83             2    8698
84             1    9313
...          ...     ...
299939         2    9559
299940         1    7296
299941         2    5248
299942         1    7297
299943         1   10268
299944         2   12227
299945         1    7825
299946         2   12150
299947         1     263
299948         1    7735
299949         1    7286
299950         1   12471
299951         1    8358
299952         2    8694
299953         1    2116
299954         2   11521
299955         1    9206
299956         2    2955
299957         2    9629
299958         2    9725
299959         2   10238
299960         1    9108
299961         2   11935
299962         1    7173
299963         1     434
299964         1   12219
299965         1    9377
299966         1    7864
299967         2   11144
299968         1    9889
299969         2    9939
299970         2    9433
299971         1      46
299972         1    7487
299973         2   10310
299974         1     386
299975         1    7417
299976         1   10866
299977         2   12645
299978         2   10652
299979         2    8406
299980         2    9127
299981         1    2103
299982         1     705
299983         2   10196
299984         1   10979
299985         2   11418
299986         1    8876
299987         2   11019
299988         2    9144
299989         2   11690
299990         2   12535
299991         1    1657
299992         2   10227
299993         1    7743
299994         1    9038
299995         1    1389
299996         2   10911
299997         1    9380
299998         1    8336
299999         1     277
300000         1   11243
300001         1    7224
300002         1     523
300003         1    8440
300004         2   10466
300005         2   10442
300006         1     404
300007         2    6512
300008         2   11027
300009         1    8274
300010         2   12476
300011         1    7231
300012         2    4824
300013         1    1590
300014         1    7285
300015         1    8274
300016         2    8896
300017         1    8219
300018         1     247
300019         1    8163
300020         2    8548
300021         2   11727
300022         2    9416
300023         1    7982

[300024 rows x 2 columns]

In [14]:
x_2 = df_2.n_titles
y_2 = df_2.tenure
r,p = stats.pearsonr(x_2,y_2)
print(f"p = {p}")
print(f"r = {r}")

p = 0.0
r = 0.4521185355333487

In [15]:
ss = data("sleepstudy")

In [16]:
ss
x_3 = ss.Reaction
y_3 = ss.Days
r,p = stats.pearsonr(x_3, y_3)
print(f"p = {p}")
print(f"r = {r}")

p = 9.894096322214812e-15
r = 0.5352302262650253

In [17]:
index = ['Macbook', "No Macbook"]
columns = ["Codeup", "Not Codeup"]
o = pd.DataFrame([[49,20],[1,30]], index=index, columns = columns)
x = stats.chi2_contingency(o)

In [18]:
mpg

NameError: name 'mpg' is not defined

In [ ]:
#null: there is no relationship between city mpg and transmission type
#alt: there is a relationship bettwen city mpg and transmission type
x = stats.chi2_contingency(pd.crosstab(mpg.cty, mpg.trans))